<!DOCTYPE html>
<html>
<head>
    <title>Hello Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet" />
</head>
<body>

    <div id="map" style="height: 100%; width: 100%;"></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoicG9pYm9pIiwiYSI6ImNsMTYwaTZuazAxOHMzaXFzdjkzZW4wNm8ifQ.MH9qcxmXZcPGKoMdz_eUvg';
    
        const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: {{ center }}, 
        zoom: 9 
        });
    
        const boundingBoxCoordinates = {{ bounding_box }}}};
    
        const boundingBoxFeature = {
        type: 'Feature',
        geometry: {
            type: 'Polygon',
            coordinates: [boundingBoxCoordinates]
        }
        };
    
        // Add the bounding box as a layer to the map
        map.on('load', () => {
        map.addSource('boundingBox', {
            type: 'geojson',
            data: boundingBoxFeature
        });
    
        map.addLayer({
            id: 'boundingBoxLayer',
            type: 'fill',
            source: 'boundingBox',
            paint: {
            'fill-color': '#FF0000',
            'fill-opacity': 0.5
            }
        });
        });
    </script>
</body>